@import '../abstratos/variaveis';

.listaNav,
.listaConteudo,
.rodape{
  padding: 2rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
}

.listaNav{

    margin-bottom: 8rem;

    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);

    text-align: center;   

    position: relative;

    &Link{
        display: block;
        float:left;
        
        text-decoration: none;
        cursor: pointer;

        font-size: 1.9rem;

        position: absolute;
        transition: transform .3s;

        &:hover{
            transform: scale(2);
        }
    }

    &Inserir{
        display: block;
        float:right;

        text-decoration: none;
        cursor: pointer;

        font-size: 2.9rem;
        position: absolute;

        right: 0;
        top: 0;
        padding: 1rem 3rem;

        transition: transform .3s;

        &:hover{
            transform: scale(2);
        }
    }
    
}

  

.listaConteudo{

  background-color: rgba($color-grey-light-1,  1.0);

  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  &Item{
    margin: 2.5rem 1rem;
    width: 100%;

    border-radius: 1rem;

    background-color: $color-primary-light;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &:hover{
        border: solid .1rem black;
        border-color: rgba(cyan, 0.5);
    }
    
    & label{
        font-size: 1.5rem;
        text-align: center;
        padding: 1.4rem 0;
    }
    & span:not(:last-child) {

        width: 40rem;
        background-color: rgba($color-primary-dark, 0.5);

        padding: 1.4rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    &Download{
        cursor: pointer;
        text-align: center;
        padding: 1rem;
        transition: all .3s;

        &:hover{
            transform: scale(2) translateY(+10%);
        }
    }

  }
}


.rodape{
    padding: 5rem 10rem;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}